<div class="users-container">
  <div class="users-container__title">
    <h2>Usuarios que te podrían interesar</h2>
  </div>
  <div class="users">
    <div class="user">
      <div class="user__image">
        <img src="favicon.ico" alt="User profile image">
      </div>
      <div class="user__name">
        <span>Usuariommmm mmmmmmmm</span>
      </div>
    </div>

    <div class="user">
      <div class="user__image">
        <img src="assets/IntelliDeck_Logo.png" alt="User profile image">
      </div>
      <div class="user__name">
        <span>Usuariommmmmmmmmmmmmmmmmmmmmmmmmmm</span>
      </div>
    </div>
  </div>
</div>
