<header>
  <mat-toolbar class="nav-bar">
    <img src="../../../assets/IntelliDeck_Logo.png" routerLink="" alt="IntelliDeck logo">
    <button mat-button class="nav-bar__font-size nav-bar__button" routerLink="">
      <mat-icon class="big-icon">home</mat-icon>
      Inicio
    </button>
    <button mat-button class="nav-bar__font-size nav-bar__button" routerLink="/explore">
      <mat-icon class="big-icon">search</mat-icon>
      Explorar
    </button>
    <button mat-button class="nav-bar__font-size nav-bar__button" routerLink="/following">
      <mat-icon class="big-icon">view_carousel</mat-icon>
      Seguidos
    </button>
    <button mat-button class="nav-bar__font-size nav-bar__button" routerLink="/user-decks">
      <mat-icon class="big-icon">dashboard_customize</mat-icon>
      Mis mazos
    </button>

    <span class="spacer"></span>

    <div class="search-bar">

      <button mat-icon-button class="search-bar__button">
        <mat-icon>search</mat-icon>
      </button>
      <input class="nav-bar__font-size" type="search" placeholder="Buscar">
    </div>

    <span class="spacer"></span>

    <button mat-flat-button class="primary-button nav-bar__font-size" routerLink="/deck-creation">
      Crear mazo
    </button>

    <button mat-button class="profile-button nav-bar__font-size nav-bar__button" [matMenuTriggerFor]="menu" routerLink="/profile">
      <mat-icon class="big-icon">account_circle</mat-icon>
      Perfil
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="big-icon">account_circle</mat-icon>
        Perfil
      </button>
      <button mat-menu-item>
        <mat-icon class="big-icon">account_circle</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
