@use "../../../colors";

.spacer {
  flex: 1 1 auto;
}

.nav-bar {
  background-color: colors.$white-smoke;
  box-shadow: 0 0 10px 3px colors.$grey;
  gap: 0.8em;
  position: fixed;
  top: 0;
  z-index: 1000;

  &__font-size {
    font-size: 1rem;
  }

  &__button {
    //width: 10rem;
  }

  img {
    height: 80%;
  }

  .search-bar {
    padding: 0 8px;
    background-color: colors.$white;
    border: 3px solid colors.$grey;
    border-radius: 32px;
    display: flex;
    align-items: center;
    height: 2em;
    width: 20%;

    &__button {
      color: colors.$dark-grey;
    }

    > input {
      width: 95%;
      outline: none;
      border: none;
      background: inherit;
    }
  }

  .primary-button {
    background-color: colors.$primary-purple;
    color: colors.$white-smoke;

    &:hover {
      background-color: colors.$dark-purple;
    }
  }

  .profile-button {

  }

  .big-icon {
    height: auto;
    width: auto;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


