<div class="card-list">
  <div>
    <h2>Lista de cartas</h2>
  </div>

  <div class="card-list__container">

    <app-card *ngFor="let card of cardList" [card]="card"></app-card>
<!--    <div class="card"> &lt;!&ndash;*ngFor="let card of cards">&ndash;&gt;-->
<!--      <div class="card__buttons">-->
<!--        <span class="material-symbols-outlined edit">-->
<!--          edit_square-->
<!--        </span>-->
<!--        <span class="material-symbols-outlined delete">-->
<!--          delete_forever-->
<!--        </span>-->
<!--      </div>-->

<!--      <div class="card__overlay"></div>-->

<!--      <div class="card__info">-->
<!--        <div class="card__info__question">-->
<!--          <div class="card-text card-text__question without-img">-->
<!--            <p>This is a placeholder question</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card__info__answer">-->
<!--          <div class="card-text card-text__answer without-img">-->
<!--            <p>This is a placeholder answer</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card"> &lt;!&ndash;*ngFor="let card of cards">&ndash;&gt;-->
<!--      <div class="card__buttons">-->

<!--      </div>-->

<!--      <div class="card__info">-->
<!--        <div class="card__info__question">-->
<!--          <div class="card-text card-text__question without-img">-->
<!--            <p>This is a placeholder question</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card__info__answer">-->
<!--          <div class="card-text card-text__answer">-->
<!--            <p>This is a placeholder answer</p>-->
<!--          </div>-->
<!--          <img src="assets/IntelliDeck_Logo.png" alt="">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card"> &lt;!&ndash;*ngFor="let card of cards">&ndash;&gt;-->
<!--      <div class="card__buttons">-->

<!--      </div>-->

<!--      <div class="card__info">-->
<!--        <div class="card__info__question">-->
<!--          <img src="assets/IntelliDeck_Logo.png" alt="">-->
<!--          <div class="card-text card-text__question">-->
<!--            <p>This is a placeholder question</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card__info__answer">-->
<!--          <div class="card-text card-text__answer without-img">-->
<!--            <p>This is a placeholder answer</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="add-card" (click)="openCreateCardDialog()">
      <span class="material-symbols-outlined add-circle">
        add_circle
      </span>
    </div>

  </div>

</div>
