@use "../../../colors";

$card-image-heigth: 12em;

.card-list {

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
    grid-auto-rows: 1fr;
    padding-bottom: 2em;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .add-card {
      background-color: colors.$white-smoke;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 colors.$grey;//rgba(0, 0, 0, 0.1);
      word-wrap: break-word;
      min-height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .add-circle {
        color: colors.$primary-purple;
        font-size: 8em;
      }

      &:hover {
        background-color: colors.$light-purple;
      }
    }

    .card {
      background-color: colors.$white;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 colors.$grey;
      word-wrap: break-word;
      position: relative;

      img {
        width: 100%;
        height: $card-image-heigth;
        display: block;
        margin: 0;
        object-fit: cover;
      }

      &__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: colors.$transparent-light-purple;
        z-index: 1;
      }

      &:hover .card__overlay {
        display: block;
      }

      &:hover .card__buttons {
        display: flex;
      }

      &__buttons {
        display: none;
        justify-content: flex-end;
        padding: 0.5em;
        gap: 0.5em;
        position: absolute;
        right: 0;
        z-index: 2;

        span {
          border-radius: 5px;
          color: colors.$white;
          padding: 0.1em;
        }

        .edit {
          background-color: colors.$blue-munsell;
        }

        .delete {
          background-color: colors.$light-red;
        }
      }

      &__info {
        height: 100%;
        display: flex;
        flex-direction: column;

        &__question {

          p {
            font-weight: bold;
          }

          img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }

        .without-img {
          height: 100%;
        }

        &__answer {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          img {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        p {
          font-size: 1rem;
          padding: 1em 0;
          margin: 0;
        }
      }

      .card-text {
        margin: 0 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__question {
          border-bottom: 3px solid colors.$primary-purple;
        }

        &__answer {
          height: 100%;
        }
      }

    }
  }
}

.material-symbols-outlined {
  cursor: pointer;
  user-select: none;
}

