<div class="card-list">
  <div>
    <h2>Lista de cartas</h2>
  </div>

  <div class="card-list__container">

    <app-card *ngFor="let card of cardList; let i = index" [externalDeckCardInput]="externalDeckCard" [card]="card" [index]="i" (viewCardEvent)="viewCard($event)" (editCardEvent)="editCard($event)" (deleteCardEvent)="deleteCard($event)"></app-card>

    <div class="add-card" (click)="createCard()" (keyup)="createCard()">
      <span class="material-symbols-outlined add-circle">
        add_circle
      </span>
    </div>

  </div>

</div>
