<div class="card-list">
  <div>
    <h2>Lista de cartas</h2>
  </div>

  <div class="card-list__container">

    <div class="card"> <!--*ngFor="let card of cards">-->
      <div class="card__buttons">
        <span class="material-symbols-outlined edit">
          edit_square
        </span>
        <span class="material-symbols-outlined delete">
          delete_forever
        </span>
      </div>

      <div class="card__overlay"></div>

      <div class="card__info">
        <div class="card__info__question">
          <div class="card-text card-text__question without-img">
            <p>Question mmmmmmmmmm m m m mmmmmmmmmmmmm mmmmmmm mmmmmmmm mmmmmmmmm mmmmmmmmmm mmmmmmmmmm</p>
          </div>
        </div>
        <div class="card__info__answer">
          <div class="card-text card-text__answer without-img">
            <p>Answer</p>
          </div>
        </div>
      </div>

    </div>

    <div class="card"> <!--*ngFor="let card of cards">-->
      <div class="card__buttons">

      </div>

      <div class="card__info">
        <div class="card__info__question">
          <div class="card-text card-text__question without-img">
            <p>Question mmmmmmmmmm m m m mmmmmmmmmmmmm mmmmmmm mmmmmmmm mmmmmmmmm mmmmmmmmmm mmmmmmmmmm</p>
          </div>
        </div>
        <div class="card__info__answer">
          <div class="card-text card-text__answer">
            <p>Answer</p>
          </div>
          <img src="assets/IntelliDeck_Logo.png" alt="">
        </div>
      </div>

    </div>

    <div class="card"> <!--*ngFor="let card of cards">-->
      <div class="card__buttons">

      </div>

      <div class="card__info">
        <div class="card__info__question">
          <div class="card-text card-text__question without-img">
            <p>Question</p>
          </div>
        </div>
        <div class="card__info__answer">
          <div class="card-text card-text__answer">
            <p>Answer mmmmmmmmmm m m m mmmmmmmmmmmmm mmmmmmm mmmmmmmm mmmmmmmmm mmmmmmmmmm mmmmmmmmmmAnswer</p>
          </div>
          <img src="assets/IntelliDeck_Logo.png" alt="">
        </div>
      </div>

    </div>

    <div class="card"> <!--*ngFor="let card of cards">-->
      <div class="card__buttons">

      </div>

      <div class="card__info">
        <div class="card__info__question">
          <div class="card-text card-text__question without-img">
            <p>Question</p>
          </div>
        </div>
        <div class="card__info__answer">
          <div class="card-text card-text__answer">
            <p>Answer mmmmmmmmmm m m m mmmmmmmmmmmmm mmmmmmm mmmmmmmm mmmmmmmmm mmmmmmmmmm mmmmmmmmmmAnswer</p>
          </div>
          <img src="assets/IntelliDeck_Logo.png" alt="">
        </div>
      </div>

    </div>

    <div class="card"> <!--*ngFor="let card of cards">-->
      <div class="card__buttons">

      </div>

      <div class="card__info">
        <div class="card__info__question">
          <img src="assets/IntelliDeck_Logo.png" alt="">
          <div class="card-text card-text__question">
            <p>Question mmmmmmmmmm m m m mmmmmmmmmmmmm mmmmmmm mmmmmmmm mmmmmmmmm mmmmmmmmmm mmmmmmmmmm</p>
          </div>
        </div>
        <div class="card__info__answer">
          <div class="card-text card-text__answer">
            <p>Answer</p>
          </div>
        </div>
      </div>

    </div>

    <div class="add-card">
      <span class="material-symbols-outlined add-circle">
        add_circle
      </span>
    </div>

  </div>

</div>
