<div class="card">
  <div class="card__buttons" [ngClass]="{ 'show': !view }">
    <span class="material-symbols-outlined view" (click)="viewCard()" (keyup)="viewCard()" *ngIf="externalDeckCard">
      {{ view ? 'visibility' : 'visibility_off' }}
    </span>
    <span class="material-symbols-outlined edit" (click)="editCard()" (keyup)="editCard()" *ngIf="!externalDeckCard">
      edit_square
    </span>
    <span class="material-symbols-outlined delete" (click)="deleteCard()" (keyup)="deleteCard()" *ngIf="!externalDeckCard">
      delete_forever
    </span>
  </div>

  <div class="card__overlay" *ngIf="view"></div>
  <div [ngClass]="{ 'card__overlay-visibility-off': !view }" *ngIf="!view">
    <span class="material-symbols-outlined card__overlay-visibility-off__icon">
      visibility_off
    </span>
  </div>

  <div class="card__info">
    <div class="card__info__question">
      <img [src]="imageSrc" alt="Question image" *ngIf="card.whereImage == WhereImageEnum.QUESTION">
      <div class="card-text card-text__question" [ngClass]="{'without-img': card.whereImage != WhereImageEnum.QUESTION}">
        <p>{{card.question}}</p>
      </div>
    </div>
    <div class="card__info__answer">
      <div class="card-text card-text__answer" [ngClass]="{'without-img': card.whereImage != WhereImageEnum.ANSWER}">
        <p>{{card.answer}}</p>
      </div>
      <img [src]="imageSrc" alt="Answer image" *ngIf="card.whereImage == WhereImageEnum.ANSWER">
    </div>
  </div>
</div>
