@use "../colors";

.main{
  height: calc(100vh - var(--mat-toolbar-standard-height));
}

.headerPadding {
  padding-top: var(--mat-toolbar-standard-height);
}

html {
  background-color: colors.$white;
  height: 100vh;
}
