<form #deckForm="ngForm" (ngSubmit)="createDeck(deckForm)">
  <div class="container__creation">
    <div>
      <h2>Crear mazo</h2>
    </div>
    <div class="container__creation__row">
      <div class="container__creation__row__first-column">
        <div class="title_row">
          <mat-form-field appearance="outline" class="form-field">
            <label>Titulo*</label>
            <input matInput ngModel required type="text" name="title" class="form-control" placeholder="Añade un título que describa el mazo" >
            <mat-error *ngIf="titleMissing">
              El titulo del y/o el tema del mazo son necesarios
            </mat-error>
          </mat-form-field>
        </div>
        <div class="topic_tags_row">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field">
            <label>Tema*</label>
            <input matInput ngModel required type="text" name="topic" class="form-control" placeholder="Elige el tema del título" >
          </mat-form-field>

          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field">
            <label>Etiquetas</label>
            <input matInput ngModel type="text" name="tags" class="form-control" placeholder="Añade etiquetas que describan el mazo" >
          </mat-form-field>
        </div>
      </div>
      <div class="container__creation__row__description">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field">
          <label>Descripción</label>
          <textarea matInput ngModel cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1" type="text" name="description" class="text-area-input" placeholder="Nombre" ></textarea>
        </mat-form-field>
      </div>
      <div class="container__creation__row__third-column">
        <div class="file-drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" (click)="triggerFileInput()">
          <input type="file" [multiple]="false" #fileDropRef id="fileDropRef" style="display:none" (change)="onFileChange($event)"/>
          <mat-icon class="big-icon">upload</mat-icon>
          <label class="deck-image-name">{{fileDropText}}</label>
          <label>Arrastra y suelta o elige la imagen para la portada del mazo</label>
        </div>

        <button mat-flat-button class="primary-button">
          Crear mazo
        </button>
      </div>

    </div>
  </div>
</form>
