@use "../../../colors";

$recommended-user-image-height: 3.5em;


.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  justify-items: center;

  .side {
    padding: 2em;

    .users-container {
      border-right: 3px solid colors.$primary-purple;
      max-width: 20em;

      &__title {

      }

      .users {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .user {
          display: flex;
          align-items: center;
          gap: 0.5em;

          &__image {
            img {
              border-radius: 0.5em;
              height: $recommended-user-image-height;
              display: block;
              margin: 0;
              object-fit: cover;
            }
          }

          &__name {
            max-width: calc(100% - $recommended-user-image-height - 1em);

            span {
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }

  .main {
    padding: 2em 0;
    width: 90%;

    .training-container {
      &__empty {
        color: colors.$light-red;
        font-weight: 550;
        padding: 2em 0;
        font-size: 1.2em;
      }
    }

    .decks-container {
      padding-top: 1em;
    }
  }
}
