
$dark-purple: #AE3AE4;
$primary-purple: #BF62EA;
$light-purple: #F6E4F6;

$white: #FAFAFA;
$white-smoke: #F4F4F4;
$light-grey: #d2d2d2;
$grey: #C3C3C3;
$dark-grey: #606060;
$light-black: #141414;

$blue-munsell: #2D93AD;
$light-red: #FF6666;
$red: #ff3737;

$transparent-light-grey: rgba(210, 210, 210, 0.5);
$transparent-light-purple: rgba(246, 228, 246, 0.5);
