<div class="background">
  <div class="container">
    <div class="main">
      <div>
        <h2>Tus sesiones de estudio</h2>
        <p>Resumen de su desempeño y actividad</p>
      </div>

      <div class="main__statistics">
        <div class="main__statistics__block">
          <div class="statistics-title">
            <h2>Intentos</h2>
            <span class="material-symbols-outlined">
              equalizer
            </span>
          </div>
          <div class="statistics-text">
            <h1>124</h1>
          </div>
        </div>

        <div class="main__statistics__block">
          <div class="statistics-title">
            <h2>Tiempo medio</h2>
            <span class="material-symbols-outlined">
              schedule
            </span>
          </div>
          <div class="statistics-text">
            <h1>4min 32s</h1>
          </div>
        </div>

        <div class="main__statistics__block">
          <div class="statistics-title">
            <h2>Tiempo de intento</h2>
            <span class="material-symbols-outlined">
              schedule
            </span>
          </div>
          <div class="statistics-text">
            <h1>4min 32s</h1>
          </div>
        </div>
      </div>

    </div>

    <div class="diagram">
      <div>
        <h2>Cartas pro mazo</h2>
      </div>

    </div>
  </div>
</div>
