@use "../../../colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main {
    padding: 2em 0;

    &__title h2 {
      margin: 0;
    }

    &__statistics {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2em;

      &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 colors.$grey;
        padding: 1em;

        .statistic {
          &__title {
            display: flex;
            gap: 1em;
            justify-content: space-between;
            color: colors.$dark-grey;
          }

          &__text {
            color: colors.$light-black;

            h1 {
              font-weight: 550;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .diagram {

    &__chart {
      .chart {
        height: 30em;
      }
    }
  }
}
